/*------------------------------*/
/*-------GLOBAL SETUP-----------*/
/*------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*------------------------------*/
/*----------REUSABLE------------*/
/*------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 3%;
}

/*------------------------------*/
/*--------LINKS & LISTS---------*/
/*------------------------------*/

a:link,
a:active {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/*------------------------------*/
/*---------HEADINGS-------------*/
/*------------------------------*/

h1, 
h2,
h3 {
  font-weight: 400; 
  text-transform: uppercase;
}

h1 {
  color: #fafafa; 
  font-size: 300%;
  margin-bottom: 25px;
  word-spacing: 5px;
  letter-spacing: 1.2px;
}

h2 {
  font-size: 200%;
  word-spacing: 2.5px;
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 25px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #3d6fcf;
  content: '';
  width: 200px;
  margin: 0 auto;
  margin-top: 25px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/*------------------------------*/
/*---------PARAGRAPHS-----------*/
/*------------------------------*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin: 0 auto;
}

.box p {
  font-size: 80%;
  line-height: 140%;
}

/*------------------------------*/
/*-------------ICONS------------*/
/*------------------------------*/

.icon-big {
  display: block;
  font-size: 300%;
  color: #3d6fcf;
  margin-bottom: 15px;
}

/*------------------------------*/
/*------------BUTTONS-----------*/
/*------------------------------*/

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  color: #fafafa;
  border-radius: 100px;
  transition: background-color 0.5s, border-color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #5883D6;
  border: 2px solid #5883D6;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #5883D6;
}

.btn-dark-ghost:link,
.btn-dark-ghost:visited {
  border: 2px solid #09358D;
  color: #09358D;
}

.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #3d6fcf;
  border-color: #3d6fcf;
  color: #fafafa;
}

/*------------------------------*/
/*----------FORM INPUT----------*/
/*------------------------------*/

input[type=text],
input[type=email],
select,
textarea {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  padding: 5px 2px;
  font-size: 90%;
}

textarea {
  height: 100px;
}

input:focus,
textarea:focus {
  outline-color: #375DA8;
}

/*------------------------------*/
/*--------HEADER HERO AREA------*/
/*------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(50, 50, 50, .6)), url(./img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  color: #fafafa;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-color: #5883D6;
}

/*------------------------------*/
/*------------FEATURES----------*/
/*------------------------------*/

.section-main-features .long-copy {
  margin-bottom: 30px;
}

.section-main-features .box h3,
.section-main-features .box p,
.section-main-features .box .icon-big {
  text-align: center;
}

/*------------------------------*/
/*-----FEATURE NEIGHBORHOODS----*/
/*------------------------------*/

.section-neighborhoods {
  padding: 0;
}

.neighborhood-showcase {
  list-style: none;
  width: 100%;
}

.neighborhood-showcase li {
  display: block;
  float: left;
  width: 33.33%;
}

.neighborhood-photo,
.link-to-search {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.neighborhood-photo {
  background-color: #222;
}

.neighborhood-photo img {
  width: 100%;
  height: 650px; 
  /* Wanted to use auto for height but need beter images */
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.7s, opacity .85s;
}

.link-to-search {
  height: 655px;
  text-align: center;
}

.link-to-search a {
  margin-top: 50%;
}



.neighborhood-photo img:hover {
  opacity: 1;
  transform: scale(1.05);
}

/*------------------------------*/
/*---------STEPS SECTION--------*/
/*------------------------------*/

.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 1%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 1%;
  margin-top: 70px;
}

.mobile-img {
  width: 100%;
}

.how-to-step {
  margin-bottom: 50px;
}

.how-to-step:last-of-type {
  margin-bottom: 80px;
}

.how-to-step div {
  display: block;
  color: #375DA8;
  border: 2px solid #375DA8;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 8px;
  text-align: center;
  font-size: 150%;
  float: left;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

/*------------------------------*/
/*--------SEARCH SECTION--------*/
/*------------------------------*/

.search-bar {
  margin-top: 60px;
  text-align: center;
}

.search-bar label {
  margin-right: 15px;
  font-weight: 700;
}

.search-bar input {
  margin-right: 25px;
}

/*------------------------------*/
/*-------BUILDING REVIEWS-------*/
/*------------------------------*/

.section-sample-reviews {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(50, 50, 50, .3)), url(./img/apartment.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.section-sample-reviews h2:after {
  background-color: #fff;
}

.user-review {
  display: block;
  padding: 5%;
  margin-bottom: 30px;
  font-size: 80%;
}

blockquote {
  padding: 5%;
  line-height: 145%;
  position: relative;
}

blockquote:before { 
  content:"\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 85%;
  padding: 5%;
  margin-top: 30px;
}

/*------------------------------*/
/*---------CONTACT FORM---------*/
/*------------------------------*/

.section-contact-form {
  background-color: #f4f4f4;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form select,
.contact-form textarea {
  width: 100%;
}

/*------------------------------*/
/*-------------FOOTER-----------*/
/*------------------------------*/

footer {
  background-color: #282B32;
  padding: 45px;
  font-size: 80%;
}

.footer-nav {
  float: left;
}

.social-nav {
  float: right;
}

.footer-nav li,
.social-nav li {
  display: inline-block;
  margin-right: 25px;
}

.footer-nav li:last-child,
.social-nav li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited {
  color: #A6AFC0;
  transition: color 0.6s;   
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #fafafa;
}

.social-nav li a:link,
.social-nav li a:visited {
  font-size: 160%;
}

.fa-twitter,
.fa-facebook-square,
.fa-instagram {
  transition: color 0.6s;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #c32aa3;
}

footer p {
  color: #A6AFC0;
  text-align: center;
  margin-top: 20px;
}